@using Microsoft.AspNetCore.Components.Web

<style>
    .page {
        display: flex;
        height: 100vh;
    }

    .sidebar {
        width: 250px;
        background-color: #343a40;
    }

    main {
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    .top-row {
        background-color: #f7f7f7;
        border-bottom: 1px solid #d6d5d5;
        justify-content: flex-end;
        height: 3.5rem;
        display: flex;
        align-items: center;
    }

    .content {
        padding-top: 1.1rem;
        flex: 1;
        overflow-y: auto;
    }

    #blazor-error-ui {
        background: lightyellow;
        bottom: 0;
        box-shadow: 0 -1px 5px rgba(0,0,0,0.3);
        display: none;
        left: 0;
        padding: 0.6rem 1.25rem 0.7rem 1.25rem;
        position: fixed;
        width: 100%;
        z-index: 1000;
    }

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
</style>
